<nav>
    <div class="site tile">
        <a href="/"><h1>A Blog site</h1></a>
        <p>A simple Blog Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">Acerca</a></li>
        <li><a href="/blogs/criar/">Criar Novo</a></li>
    </ul>
</nav>