<nav>
    <div class="Site Tile">
        <h1><a href="">A Blog site</a></h1></h1>
        <p>A simple Blog Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">Acerca</a></li>
        <li><a href="/blogs/criar/">Criar Novo</a></li>
    </ul>
</nav>