<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> 
    <title>BlogSite | ERROR </title>
</head>
<body>
    <nav>
        <div class="Site Tile">
            <h1><a href="">A Blog site</a></h1></h1>
            <p>A simple Blog Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">Acerca</a></li>
            <li><a href="/blogs/criar">Criar Novo</a></li>
        </ul>
    </nav>
    <div>
        <h1>ERROR 404 NÃO ENCONTRADO</h1>
    </div>
</body>
</html>