<%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="about content">
        <h1>ERROR 404 - Não há nada aqui</h1>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html> 