
<%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="about content">
        <h2>Acerca de nós</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos provident eveniet fugiat eum maxime sequi beatae recusandae, amet consectetur cupiditate nostrum iste id, molestias at, repellendus inventore iure incidunt quidem?<p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos provident eveniet fugiat eum maxime sequi beatae recusandae, amet consectetur cupiditate nostrum iste id, molestias at, repellendus inventore iure incidunt quidem?<p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos provident eveniet fugiat eum maxime sequi beatae recusandae, amet consectetur cupiditate nostrum iste id, molestias at, repellendus inventore iure incidunt quidem?<p>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>